<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1</title>
</head>
<body>
	<form action="/Home/Learn01" method="post">

		<label for="firstName">
			First Name
		</label>
		<br />
		<input type="text" id="firstName" name="firstName" />

		<br />
		<br />

		<label for="lastName">
			Last Name
		</label>
		<br />
		<input type="text" id="lastName" name="lastName" />

		<br />
		<br />

		<button type="submit">Register</button>
		<button type="reset">Reset</button>

	</form>
</body>
</html>
